<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <h1> <%= post.title %> </h1>
  <pre><%= Pygments.highlight(post.content, :lexer => 'ruby').html_safe %></pre>
    <b> Author: </b>
      <%= post.user.email %>
<% end %>      


<% if user_signed_in? %>
<p><%= link_to 'New Post', new_post_path, class: "btn btn-default"%></p>
<% end %>